body {
  background-color: #cc0000;
}
h1 {
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 14;
  color: white;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size-adjust: 12;
  color: white;
}
ul {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size-adjust: 12;
  color: white;
}
h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size-adjust: 16;
  color: white;

}

.blink {
  animation: 0.5s linear 0s blinking;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinking {
  from {
    opacity: 0;
    font-size: 12pt;
  }
  to {
    opacity: 100%;
    font-size: 22pt;
  }
}

.game-rules {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
