body {
  background-color: #00FF7F;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sand-serif;
  font-size-adjust: 14;
  color: #A0522D;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size-adjust: 12;
  color: 	#A0522D;
}
